body {
  background-color: rgba(50, 205, 50, 0.24);
}

.container_custom {
  margin: 0 auto;
  width: 60%;
}

.btn_custom {
  padding: 10px 20px;
  border: 0;
  font-size: 1.5rem;
  background-color: white;
  color: limegreen;
  font-weight: 600;
}

.btn_custom:hover {
  background-color: limegreen;
  color: white;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
}

.random-number {
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 20px;
  background-color: limegreen;
}

.output {
  width: 80%;
}
